.container {
    display: flex;
  }
  
  .sidebar {
    display: flexbox;
    width: 15vw;
    height: 100vh;
    min-width: 15vw;
    background-image: url("/src/img/background.svg");
    padding: 10px;
    
  }
  
  .main-content {
    flex-grow: 1; 
    padding: 20px;
  }

  #logo_side_bar{
    width: 10vw;
    margin-top: 20px;
  }

  ul li {
    padding-top: 20px;
    gap: 30px;
    list-style-type: none;
  }

  #perfil{
    margin-top: 15px;
    color: white;
  }

  a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-decoration: none;
  }

  a:hover{
    color: #ED0066;
  }

  #linha{
    border-bottom: 1px solid white;
    padding-top: 30px;
  }

  #linhaBottom{
    border-bottom: 1px solid white;
    padding-top: 50px;
  }

  .icons{
    width: 23px;
    padding-right: 5px;
  }

  .iconsLogout{
    width: 30px;
    padding-right: 5px;
    padding-top: 15px;
  }

  #buttonLogout{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }

 #perfil h4{
  color: #ED0066;
  font-weight: normal;
  font-size:larger;
  text-align: center;
 }

 #perfil p{
  color: white;
  font-weight: normal;
  font-size:smaller;
  text-align: center;
 }

 .iconCart{
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 25px;
  align-items: center;
 }
 
 .containerCart{
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .containerCart p{
  color: white;
 }

.sidebar .components li.selected a,
.sidebar .components li.selected a:hover {
  color: #ED0066;
}

.sidebar .components li.selected a img {
  filter: invert(40%) sepia(82%) saturate(4826%) hue-rotate(325deg) brightness(97%) contrast(101%);
}

  